.staff-entry {padding: 1rem;display: flex;gap: 10px;align-items: center;background-size: cover;background-position: center;border-radius: 8px;display: inline-block;margin: 1rem;border-radius: 10px;text-align: center;background-color:#000000;border: 2px solid #000000;box-shadow: 0 0 8px #ffffff;}
.staff-entry img {width: 200px;height: 200px;object-fit: cover;border-radius: 10px;display: block;margin: 0 auto 1rem;}

.none-entry {border: 2px solid #555555;box-shadow: 0 0 8px #555555;background-color: #000000;}
.none .staff-name {color: #ffffff;text-shadow: 0 0 3px #555555;text-decoration: none;transition: all 0.3s ease;}
.none .staff-name:hover {color: #000000;text-shadow: 0 0 3px #ffffff;}

.rée-entry {background-image: url('');border: 2px solid #d45c00;box-shadow: 0 0 8px #d45c00;}
.rée-entry img {content: url('assets/staff/Rée.jpg');}
.rée {color: #d45c00;text-shadow: 0 0 5px #d45c00;text-decoration: none;transition: all 0.3s ease;}
.rée:hover {color: #000000;text-shadow: 0 0 5px #d45c00;}

.queenbee-entry {background-image: url('assets/staff/QueenBeeBackground.gif');border-color: #83ccca;box-shadow: 0 0 8px #83ccca;}
.queenbee-entry img { content: url('assets/staff/QueenBee.png'); }
.queenbee {color: #83ccca;text-shadow: 0 0 5px #83ccca;text-decoration: none;transition: all 0.3s ease;}
.queenbee:hover {color: #000000;text-shadow: 0 0 5px #83ccca;}

.vectory-entry {background-image: url('assets/staff/VECTORYBackground.gif');border: 2px solid #800080;box-shadow: 0 0 8px #800080;}
.vectory-entry img {content: url('assets/staff/VECTORY.png')}
.vectory {color: #000000;text-shadow: 0 0 5px #800080;text-decoration: none;transition: all 0.3s ease;}
.vectory:hover {color: #800080;text-shadow: 0 0 5px #000000;}

.fuchsie-entry {background-image: url('assets/staff/FuchsieBackground.gif');border: 2px solid #9b30ff;box-shadow: 0 0 8px #9b30ff;}
.fuchsie-entry img {content: url('assets/staff/Fuchsie.gif')}
.fuchsie {color: #9b30ff;text-shadow: 0 0 5px #000000;text-decoration: none;transition: all 0.3s ease;}
.fuchsie:hover {color: #000000;text-shadow: 0 0 3px #9b30ff;}

.thundergerman-entry {background-image: url('assets/staff/ThunderGermanBackground.png');border: 2px solid #9b30ff;box-shadow: 0 0 8px #9b30ff;}
.thundergerman-entry img {content: url('assets/staff/ThunderGerman.png')}
.thundergerman {color: #9b30ff;text-shadow: 0 0 5px #000000;text-decoration: none;transition: all 0.3s ease;}
.thundergerman:hover {color: #000000;text-shadow: 0 0 5px #9b30ff;}

.qualle-entry {background-image: url('assets/staff/QualleBackground.gif');border: 2px solid #9b30ff;box-shadow: 0 0 8px #9b30ff;}
.qualle-entry img {content: url('assets/staff/Qualle.png')}
.qualle {color: #9b30ff;text-shadow: 0 0 5px #000000;text-decoration: none;transition: all 0.3s ease;}
.qualle:hover {color: #000000;text-shadow: 0 0 5px #9b30ff0;}

.felix-entry {background-image: url('assets/staff/FelixBackground.gif');border: 2px solid #260e47;box-shadow: 0 0 8px #260e47;}
.felix-entry img {content: url('assets/staff/Felix.png')}
.felix {color: #260e47;text-shadow: 0 0 5px #000000;text-decoration: none;transition: all 0.3s ease;}
.felix:hover {color: #000000;text-shadow: 0 0 5px none;}

.dinonudel-entry {background-image: url('assets/staff/DinonudelBackground.gif');border: 2px solid #a327e6;box-shadow: 0 0 8px #a327e6;}
.dinonudel-entry img {content: url('assets/staff/Dinonudel.gif')}
.dinonudel {color: #a327e6;text-shadow: 0 0 5px #000000;text-decoration: none;transition: all 0.3s ease;}
.dinonudel:hover {color: #000000;text-shadow: 0 0 5px #4b484d;}

.mugen-entry {background-image: url('assets/staff/MugenBackground.gif');border: 2px solid #9b30ff;box-shadow: 0 0 8px #9b30ff;}
.mugen-entry img {content: url('assets/staff/Mugen.jpeg')}
.mugen {color: #9b30ff;text-shadow: 0 0 5px #9b30ff;text-decoration: none;transition: all 0.3s ease;}
.mugen:hover {color: #000000;text-shadow: 0 0 3px #9b30ff;}

.margarethe-entry {background-image: url('assets/staff/MargaretheBackground.gif');border: 2px solid #5e0e11;box-shadow: 0 0 8px #5e0e11;}
.margarethe-entry img {content: url('assets/staff/Margarethe.jpg')}
.margarethe {color: #5e0e11;text-shadow: 0 0 5px #000000;text-decoration: none;transition: all 0.3s ease;}
.margarethe:hover {color: #000000;text-shadow: 0 0 3px #5e0e11;}

.earthevocator-entry {background-image: url('assets/staff/EarthevocatorBackground.gif');border: 2px solid #c0eb34;box-shadow: 0 0 8px #c0eb34;}
.earthevocator-entry img {content: url('assets/staff/Earthevocator.png')}
.earthevocator {color: #c0eb34;text-shadow: 0 0 5px #c0eb34;text-decoration: none;transition: all 0.3s ease;}
.earthevocator:hover {color: #000000;text-shadow: 0 0 3px #c0eb34;}

.ik-entry {background-image: url('assets/staff/IKBackground.gif');border: 2px solid #9b30ff;box-shadow: 0 0 8px #9b30ff;}
.ik-entry img {content: url('assets/staff/IK.png')}
.ik {color: #9b30ff;text-shadow: 0 0 5px #9b30ff;text-decoration: none;transition: all 0.3s ease;}
.ik:hover {color: #000000;text-shadow: 0 0 3px #9b30ff;}

.none, .foxgames, .vectoryowner, .scottowner, .roxyowner, .dread, .foximreich, .knolliwile, .mintrech, .remedysynclair, .lilliosheather, .erkanimkal, .milafenris, .monroevalise {text-decoration: none;transition: all 0.3s ease;}

.none {color: #ffffff;text-shadow: 0 0 3px #ffffff;}
.none:hover {color: #000000;text-shadow: 0 0 3px #ffffff;}

.foxgames { color: #000000; text-shadow: 0 0 3px #8b0000;}
.foxgames:hover { color: #8b0000; text-shadow: 0 0 3px #000000;}

.vectoryowner { color: #000000; text-shadow: 0 0 3px #800080;}
.vectoryowner:hover { color: #800080; text-shadow: 0 0 3px #000000;}

.scottowner { color: #000000; text-shadow: 0 0 3px #8b0000;}
.scottowner:hover { color: #8b0000; text-shadow: 0 0 3px #000000;}

.roxyowner { color: #000000; text-shadow: 0 0 3px #ee82ee;}
.roxyowner:hover { color: #ee82ee; text-shadow: 0 0 3px #000000;}

.dread { color: #000000; text-shadow: 0 0 3px #ff0000;}
.dread:hover { color: #ff0000; text-shadow: 0 0 3px #000000;}

.foximreich { color: #9b30ff; text-shadow: 0 0 3px #9b30ff;}
.foximreich:hover { color: #000000; text-shadow: 0 0 3px #9b30ff;}

.knolliwile { color: #9b30ff; text-shadow: 0 0 3px #9b30ff;}
.knolliwile:hover { color: #000000; text-shadow: 0 0 3px #9b30ff;}

.mintrech { color: #4b484d; text-shadow: 0 0 3px #4b484d;}
.mintrech:hover { color: #ffffff; text-shadow: 0 0 3px #4b484d;}

.remedysynclair { color: #ffd700; text-shadow: 0 0 3px #ffd700;}
.remedysynclair:hover { color: #000000; text-shadow: 0 0 3px #ffd700;}

.lilliosheather { color: #ffff00; text-shadow: 0 0 3px #ffff00;}
.lilliosheather:hover { color: #000000; text-shadow: 0 0 3px #ffff00;}

.erkanimkal { color: #1d1919; text-shadow: 0 0 3px #1d1919; }
.erkanimkal:hover { color: #ffffff; text-shadow: 0 0 3px #1d1919; }

.milafenris {color: #ff00aa;text-shadow: 0 0 5px #000000;}
.milafenris:hover {color: #ff55cc;text-shadow: 0 0 5px #000000;}

.monroevalise {color: #00dc3c;text-shadow: 0 0 5px #000000;}
.monroevalise:hover {color: #00ff66;text-shadow: 0 0 5px #000000;}
